# LaTeX auxiliary files
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
*.dvi
*.xdv
*-converted-to.*
*.fdb_latexmk
*.synctex*
latex.out/
*.bbl
*.blg
*.bcf
*.run.xml

# OS
.DS_Store
.idea/
.vscode/settings.json

# Tableau packaged workbook backups
*.twbx.bak

# Data files that are too large for git
*.csv.gz
